django
django-crispy-forms
django-tastypie
django-taggit
django-debug-toolbar
git+https://github.com/django-haystack/django-haystack
django-model-utils
python-dotenv
requests
Whoosh
mimeparse
pytz
simplejson
unicodecsv
flake8
mock
coverage
coveralls
tmdbsimple