django
django-crispy-forms
django-tastypie
django-taggit
django-debug-toolbar
django-haystack @ git+https://github.com/django-haystack/django-haystack@v3.0b1#egg=django-haystack
django-model-utils
python-dotenv
requests
Whoosh
mimeparse
pytz
simplejson
unicodecsv
flake8
mock
coverage
coveralls
tmdbsimple