{% load mlist_extras  %}

{% if has_overview %}
<div class="movie-block">

    <h4>Overview</h4>

    <div class="row movie-details">
        {% if attributes.title != attributes.original_title %}
            <div class="col-4 title">Orginal Title:</div>
            <div class="col-8 body">{{attributes.original_title}}</div>
        {% endif %}

        {% if 'released' in attributes %}
            <div class="col-4 title">Released:</div>
            <div class="col-8 body">
                {{ attributes.released }}

                {% if 'year' in attributes %}
                    <strong>({{attributes.year}})</strong>
                {% endif %}
            </div>
        {% endif %}

        {% if 'runtime' in attributes %}
            <div class="col-4 title">Runtime:</div>
            <div class="col-8 body">{{attributes.runtime}}</div>
        {% endif %}

        {% if 'genres' in attributes %}
            <div class="col-4 title">Genres:</div>
            <div class="col-8">
                {% genre_list attributes.genres %}
                {% if 'adult' in attributes %}
                    <span class="badge badge-danger">Adult</span>
                {% endif %}
            </div>
        {% endif %}
    </div>

    <div class="row movie-details">
        {% if imdb_rating %}
            <div class="col-5 title">IMDB Rating:</div>
            <div class="col-7 text-right body" title="{{imdb_rating.votes}} votes">
                {% movie_stars imdb_rating.rating %}
            </div>
        {% endif %}

        {% if tmdb_rating %}
            <div class="col-5 title">TMDB Rating:</div>
            <div class="col-7 text-right body" title="{{tmdb_rating.votes}} votes">
                {% movie_stars tmdb_rating.rating %}
            </div>
        {% endif %}
    </div>
</div>
{% endif %}

{% if has_share %}
<div class="movie-block">
    <h4>Share</h4>
    <p>
        {% if facebook_share_url %}
            <script>function fbs_click() {u="{{imdb_url}}";t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436');return false;}</script>
            <a rel="nofollow" href="{{facebook_share_url}}" onclick="return fbs_click()" target="_blank" class="fb_share_link btn btn-medium btn-primary"><i class="fa fa-share"></i> Share on Facebook</a>
        {% endif %}
    </p>
</div>
{% endif %}