/* Global */

body {
    padding-bottom: 40px;
}

.container.img-polaroid {
    background-color: rgba(255,255,255,0.95);
}

.mlist-container {
    background-color: white;
    padding: 17px;
    box-sizing: content-box;
    padding-top: 80px;
}

.mlist-container.mlist-movie-detail {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

/* Movie list */

.movielist li {
    height: 350px;
}

.movielist li .thumbnail {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.movielist li .caption {
    text-align: center;
}

@media (max-width: 767px) {
    .movielist li .caption {
        text-align: left;
    }
}

/* Movie details */

.mic-list {
    list-style: none;
    padding-left: 0;
}

.movie-details {
    margin-bottom: 1em;
}

.movie-details .title {
    font-weight: bold;
}

.movie-title {
    font-weight: 200;
    line-height: 2em;
}

.movie-title .title {
    background: white;
    padding: 3px;
    opacity: 0.8;
    margin-top: 60px;
}

.movie-title .tagline {
    background: black;
    padding: 3px;
    opacity: 0.8;

    line-height: 1em;
}

.movie-block {
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    padding: 10px;
    background-color: rgba(255,255,255,1.0);
    margin-bottom: 25px;
}

.movie-block h4 {
    margin-left: -10px;
    margin-right: -10px;
    padding: 10px;
    color: #666;
    text-align: left;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.0em;
}

.movie-block h4:first-child {
    margin-top: -10px;
}

.movie-cover img {
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    padding: 10px;
    background-color: white;
}

/* When user action are mounted below movie cover,
 * then it should be a bit intended */
.movei-cover .side-actions {
    margin-left: 10px;
    margin-right: 10px;
}

.chart {
    width: 100%;
}

.chart-pie {
    min-height: 450px;
}