{% load static from staticfiles %}
{% load mlist_extras %}

<html>
<head>
    <meta charset="utf-8">

    <title>MList</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width">

    <link href="{% static 'app.css' %}" rel="stylesheet" type="text/css" />
</head>
<body
{% if backdrop_url %}
style='background-size: cover; background-position-x: center; background-image: url("{{ backdrop_url }}")'
{% else %}
style='background-image: url("{% static "img/gradient_squares.png" %}")'
{% endif %}>

    <nav class="navbar navbar-dark fixed-top navbar-expand-lg navbar-dark bg-dark">
        {% if user.is_authenticated %}
        <a class="navbar-brand" href="{% url 'list-movies' %}">MList</a>
        {% else %}
        <a class="navbar-brand" href="{% url 'login' %}">MList</a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainmenu">
          <ul class="navbar-nav mr-auto">

            {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a href="{% url 'list-movies' %}" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  Collections
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                  {% collection_list user %}
              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'add-movie' %}">
                Add
              </a>
            </li>
            {% endif %}
          </ul>

          {% if user.is_authenticated %}
          <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'search' %}">
            <input type="text" name="q" class="form-control" placeholder="Search">
          </form>
          {% endif %}

          <ul class="navbar-nav my-2 my-lg-0">
            {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                  {{ user.username }}
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'statistics' %}">Statistics</a>
                  <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                  <a class="dropdown-item" href="{% url 'import-movies' %}">Import / Export</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                </div>
              </li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
    </nav>

    <div class="container mlist-container
    {% if mic and tmdb and tmdb.backdrop_url %}
    img-polaroid
    {% endif %}
    {% block custom-container %}
    {% endblock %}
    ">

      {% if messages %}
      {% for message in messages %}
          <div class="alert {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% if 'safe' in message.tags %}
                {{ message|safe }}
            {% else %}
                {{ message }}
            {% endif %}
          </div>
      {% endfor %}
      {% endif %}

{% block container %}

{% endblock %}

    </div> <!-- /container -->

<script src="{% static "app.js" %}"></script>

<script type="text/javascript">
$(function() {
  mlist.init({
    urls: {
        export_movies: "{% url 'export-movies' %}",
        adv_export_movies: "{% url 'adv-export-movies' %}",
        tag_list: "{% url 'ajax_taglist' %}",
    }
  });
});
</script>

{% if tmdb.backdrop_orginal_url %}
<script type="text/javascript">
  $(function() {
    mlist.change_background({
      url: "{{tmdb.backdrop_orginal_url}}"
    });
  });
</script>
{% endif %}

{% block script %}

{% endblock %}
</body>
</html>
