{% extends "mlist/base.html" %}
{% load crispy_forms_tags %}
{% load mlist_extras  %}
{% load humanize %}
{% block custom-container %}
mlist-movie-detail
{% endblock %}
{% block container %}

{% if not has_imdb %}
    {% include "mlist/includes/detail_no_imdb_info.html" %}
{% endif %}

{% if not has_tmdb %}
    {% include "mlist/includes/detail_no_tmdb_info.html" %}
{% endif%}

<div class="row">
{% if has_poster %}
    <div class="col-md-4 movie-cover">
        <div class="row">
            <div class="col-6 col-md-12">
                <img src="{{ poster_url }}" class="img-fluid" />
            </div>
            <div class="col-6 col-md-12">
                {% include "mlist/includes/detail_user_control.html" %}
            </div>
        </div>
    </div>
    <div class="col-md-8">
{% else %}
    <div class="offset-2 col-8">
{% endif %}

<h1 class="page-header movie-title">
    <span class="title">{{attributes.title}}</span>

    {% if 'tagline' in attributes or 'rated' in attributes %}
        <div>
            {% if 'tagline' in attributes %}
                <small class="tagline text-white">{{attributes.tagline}}</small>
            {% endif %}

            {% if 'rated' in attributes %}
                &nbsp;<span class="badge badge-pill badge-secondary">{{attributes.rated}}</span>
            {% endif %}
        </div>
    {% endif %}
</h1>

<div class="row">

    {% if not has_poster %}
        <div class="col-lg-6">
            {% include "mlist/includes/detail_user_control.html" %}
            {% include "mlist/includes/detail_movie_overview.html" %}
        </div>
    {% else %}
        <div class="col-lg-6">
            {% include "mlist/includes/detail_movie_overview.html" %}
        </div>
    {% endif %}


    <div class="col-lg-6">
        {% include "mlist/includes/detail_movie_details.html" %}
    </div>

    <div class="col-12">
        {% include "mlist/includes/detail_movie_plot.html" %}
        {% include "mlist/includes/detail_movie_admin.html" %}
    </div>
</div>

</div>

</div>

{% endblock %}
