{% extends "mlist/base.html" %}
{% load crispy_forms_tags %}
{% load mlist_extras  %}
{% load humanize %}
{% block custom-container %}
mlist-movie-detail
{% endblock %}
{% block container %}

{% if not imdb %}
    {% include "mlist/includes/detail_no_imdb_info.html" %}
{% endif %}

{% if not tmdb %}
    {% include "mlist/includes/detail_no_tmdb_info.html" %}
{% endif%}

<div class="row">
{% if tmdb %}
    <div class="span4 movie-cover">
        <img src="{{ tmdb.large_poster_url }}" style="width:370px"/>
        {% include "mlist/includes/detail_user_control.html" %}
    </div>
    <div class="span8">
    {% else %}
    <div class="offset2 span8">
{% endif %}

<h1 class="page-header movie-title" title="{{mic.movie.title}}">
    <span class="title">{{mic.movie.get_title}}</span>

    <div>
    {% if tmdb.tagline %}
    <small class="tagline">{{tmdb.tagline}}</small>
    {% endif %}

    &nbsp;<span class="badge badge-inverse">{{imdb.rated}}</span>
    </div>
</h1>

<div class="row">

    {% if not tmdb %}
        <div class="span8">
            {% include "mlist/includes/detail_user_control.html" %}
        </div>
    {% endif %}

    {% if imdb or tmdb %}
    <div class="span4">
        {% include "mlist/includes/detail_movie_overview.html" %}
    </div>

    <div class="span4">
        {% include "mlist/includes/detail_movie_details.html" %}
    </div>
    {% endif %}

    <div class="span8">
        {% if imdb or tmdb %}
        {% include "mlist/includes/detail_movie_plot.html" %}
        {% endif %}
        {% include "mlist/includes/detail_movie_admin.html" %}
    </div>
</div>

</div> <!-- Span8 -!>

{% endblock %}
