{% extends "mlist/base.html" %}
{% load static from staticfiles %}
{% load mlist_extras %}

{% block container %}

<h1 class="lead">Settings</h1>


<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#collections" data-toggle="tab">Collections</a></li>
        <li><a href="#admin" data-toggle="tab">Admin</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="collections">
            <h4 class="text-error">Collections</h4>

            <table class="table table-striped">
                <thead>
                    <th width="50px">ID</th>
                    <th>Name</th>
                    <th width="200px">Actions</th>
                </thead>
                <tbody>
                {% for collection in collections.all %}
                    <tr>
                        <td>{{collection.id}}</td>
                        <td>{{collection.title}}</td>
                        <td>
                            {% if not collection.title == 'watched' %}
                                <form style="margin:0" class="form-inline" method="POST" action="{% url 'delete-collection' collection.id %}">
                                    {% csrf_token %}
                                    <input style="margin:0;padding:0" type="submit" class="btn btn-link btn-small text-error" value="Delete" />
                                </form>
                            {% else %}
                                <i><small>Built-in</small></i>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor%}
                </tbody>
                <tfoot>
                <tr>
                    <td></td>
                    <td>
                        <form style="margin:0" class="form-inline" method="POST" action="{% url 'create-collection' %}">
                        {% csrf_token %}
                        <input type="hidden" name="user" value="{{request.user.id}}" />
                        <label>Create a new collection: </label>
                        <div class="input-append">
                            <input style="margin-bottom:0" class="" type="text" name="title" placeholder="Collection name" />
                            <input type="submit" class="btn" value="Add"/>
                        </div>
                        </form>
                    </td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>

        <div class="tab-pane" id="admin">

{% if user.is_staff %}
<h4 class="text-error">Admin</h4>

<h5>Database consistency</h5>
<div class="row-fluid">
<div class="span4">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                    <th>Error type</th>
                    <th>Count</th>
                    <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <th>Movies without IMDB ID:</th>
            <td>{{movies_no_imdb_id.count}}</td>
            <td>
                <button class="handle-queries btn btn-small btn-primary" data-target="no_imdb_id">Batch</button>
            </td>
        </tr>
        <tr>
            <th>Movies without IMDB Info:</th>
            <td>{{movies_no_imdb_info.count}}</td>
            <td>
                <button class="handle-queries btn btn-small btn-primary" data-target="no_imdb_info">Batch</button>
            </td>
        </tr>
        <tr>
            <th>Movies without TMDB Info:</th>
            <td>{{movies_no_tmdb_info.count}}</td>
            <td>
                <button class="handle-queries btn btn-small btn-primary" data-target="no_tmdb_info">Batch</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<ul class="action-result span6">

</ul>
</div>

<h5>Duplicate movies <small>({{movies_duplicate_imdb|length}} movie duplicates found)</small></h5>

<table class="table table-condensed table-striped">
    <thead>
        <th width="100px">ID</th>
        <th width="100px">IMDB ID</th>
        <th>Title</th>
        <th width="100px">MIC count</th>
        <th width="300px">Action</th>
    </thead>
    <tbody>
    {% for movies in movies_duplicate_imdb %}
        <tr>
            <td>
            {% for movie in movies %}
                {{movie.id}}<br />
            {% endfor %}
            </td>
            <td>
            {% for movie in movies %}
                <code>{{movie.imdb_id}}</code>
            {% endfor %}
            </td>
            <td>
            {% for movie in movies %}
                {{movie.title}}<br />
            {% endfor %}
            </td>
            <td>
            {% for movie in movies %}
                {{movie.movieincollection_set.count}}<br/>
            {% endfor %}
            </td>


            <td>
                {% for movie in movies %}
                    <a href="{% url 'merge-movie' movie.id %}">Merge</a><br />
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>

{% endif %}

        </div>
    </div>
</div>

{% endblock %}


{% block script %}
<script type="text/javascript">
var g_handle_list = {
    'no_imdb_id': [],
    'no_imdb_info': [],
    'no_tmdb_info': []
};

$(function() {

    {% if user.is_staff %}
        {% for movie in movies_no_imdb_id %}
        g_handle_list['no_imdb_id'].push("{% url 'fetch-imdb' movie.id %}");
        {% endfor %}

        {% for movie in movies_no_imdb_info %}
        g_handle_list['no_imdb_info'].push("{% url 'fetch-imdb' movie.id %}");
        {% endfor %}

        {% for movie in movies_no_tmdb_info %}
        g_handle_list['no_tmdb_info'].push("{% url 'fetch-tmdb' movie.id %}");
        {% endfor %}
    {% endif %}
});
</script>
{% endblock %}
